# Namespaces can help simplfy a few things with your configuration.
#
# If services are in the same namespace then the service name can be
# configured as the host name to access those services.
#
# The way DNS works inside kubernetes is, the namespace and the rest of what
# k8s needs is auto appended so you have the same configuration on all env
# just the namespace differs.
#
# Another thing a namespace does is to bundle the resources used by an namespace.
#
# Another thing is network security if you implement network security with
# network policies. It is very easy to restrict traffic between namespaces but
# by default is allowed inside the same namespace.

apiVersion: v1
kind: Namespace
metadata:
  name: sales-system

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sales
  namespace: sales-system

spec:
  selector:
    matchLabels:
      app: sales

  template:
    metadata:
      labels:
        app: sales
  # At Lesson: 3.4 Create/Apply K8s Deployment for the Service
    spec:
      terminationGracePeriodSeconds: 60

      containers:
        - name: sales
          image: sales-image

          ports:
            - name: sales
              containerPort: 3000
            - name: sales-debug
              containerPort: 3010

          env:
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu

---

apiVersion: v1
kind: Service
metadata:
  name: sales-service
  namespace: sales-system

spec:
  selector:
    app: sales
